<head>
  <title>{{title}}</title>
</head>

{{title}}

{{#entry}}
<form action="/save/{{_id}}" method="post">

    <section class='date'>
      {{date}}
    </section>

    <section class='fields'>
      {{#each fields as |value key|}}
        <p class='field'>{{key}} - {{value}}</p>
      {{/each}}
    </section>

    <textarea class='text'>
      {{text}}
    </textarea>

  <button type="submit" name="submit">
    Submit
  </button>
</form>

{{/entry}}
