<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/form.js"></script>
</head>

{{#entry}}

<form action="/save/{{_id}}" method="post" class="entry">

    <section class='date'>
      {{date}}
    </section>

    <section class='fields'>
      {{#each fields as |value key|}}
        <div class="field"><input class="key" value="{{key}}"/><input class="value" type="text" name="{{key}}" value="{{value}}"/><a class="delete">x</a></div>
      {{/each}}
      <div id="add-field"></div>
    </section>

    <textarea class='text' type="text" name='text'>{{text}}</textarea>

  <button type="submit" type="text">
    Submit
  </button>
</form>

{{/entry}}
