{{#entry}}
<head>
  <title>{{date}}</title>
  <link rel="stylesheet" href="/style.css">
</head>

{{title}}

<div class="entry">
    <section class='date'>
      {{date}}
    </section>

    <a class="edit" href="/edit/{{_id}}">
      edit
    </a>

    <section class='fields'>
      {{#each fields as |value key|}}
        <div class="field">
          <p for="{{key}}" class="key">{{key}}</p>
          <p class="value">{{value}}</p>
        </div>
      {{/each}}
    </section>

    <p class='text' type="text" name='text'>
      {{text}}
    </p>


</div>

{{/entry}}
